@import "loading-bar";
@import "_bootstrap";
.content {
    position: relative;
    background: white;
    overflow: hidden;
}

.question {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
}

.question.ng-enter {
    position: absolute;
}

.question.ng-enter,
.question.ng-leave {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.question.ng-enter {
    left: 100%;
}

.question.ng-enter-active {
    left: 0;
}

.question.ng-leave {
    left: 0;
}

img.media-object {
    width: 100px;
    border-radius: 1000px;
}

img.profile-img {
    border-radius: 1000px;
    width: 221px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555555;
    background-color: #fff;
    border: 0px solid transparent !important;
    border-bottom: 3px solid #e36209 !important;
    cursor: default;
}

.icon-item {
    width: 30px;
}

.badge {
    display: block;
    float: right;
    margin-left: 7px;
    border-radius: 1000px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
}

.nav.nav-tabs>li>a {
    line-height: 37px;
}

.content .media-body {
    vertical-align: middle;
}

.button-top {
    margin-top: 30px;
    margin-bottom: 30px;
}